*.iml
.idea/
target/
*.swp
*.swo
.cache
.history

# BSP (Build Server Protocol)
.bsp/

# SBT - ignore everything in project/ except build.properties
project/
project/
project/
.metals/
.bloop/
.sbt-hydra-history
